accelerate>=0.30.1
diffusers>=0.30.0
transformers>=4.41.2
torch>=2.0.0
torchvision
pillow
numpy
sentencepiece
protobuf
scipy
piq
einops
lpips
scikit-image
torch-fidelity
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
